{% extends 'base.html.twig' %}

{% block title %}Captain Log - Home{% endblock %}

{% block body %}

    <h1>Captain Log</h1>

    <button class="btn btn-primary">
        Test DaisyUI
    </button>

{% endblock %}
