framework:
    notifier:
        chatter_transports:
        texter_transports:
        channel_policy:
            # usa chat/slack, chat/telegram, sms/twilio oppure sms/nexmo
            urgent: ['email']
            high: ['email']
            medium: ['email']
            low: ['email']
        admin_recipients:
            - { email: admin@example.com }
