{% props entity %}

<div class="px-2 py-1 rounded border border-slate-700 bg-slate-800 text-xs font-mono tracking-widest text-slate-400 uppercase inline-block">
    {% include 'components/code_with_copy.html.twig' with { code: entity.code } %}
</div>
